name: VerifyAction

on:
  pull_request:
    branches: [ main,Developer ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]
        java-version: [11]

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Tests
        run: ./gradlew clean test
      - name: Approval Tests
        run: ./gradlew clean prepareDistribution approvalTest
