name: VerifyAction

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ main,Developer ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]
        java-version: [8, 11]

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Tests
        run: ./gradlew clean test
      - name: Approval Tests
        run: ./gradlew clean approvalTest